<!DOCTYPE html>
<html>
	<head>
		<title>Demo UpworkTest</title>
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	</head>
	<body>

		<h2>Demo Upwork Test</h2>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-6">
						<form method="post" id="formfactorial">
							<div class="form-group">
								<label for="factorial">Input Number to get Factorial</label>
								<input type="text" name="factorial" class="form-control" id="factorial">
							</div>
							<button id="getfactorial" type="submit" class="btn btn-primary">Get Factorial</button>
						</form>
					</div>
					<div id="factorialresult">
						<p>
							The factorial is: <span></span>
						</p>
					</div>
					<!-- <hr>
					<div class="col-md-6">
						<form>
							<div class="form-group">
								<label for="shanum">Input Number for SHA256</label>
								<input type="text" name="shanum" class="form-control" id="sha256num">
							</div>
							<button id="getsha256" type="submit" class="btn btn-primary">Get SHA256</button>
						</form>
					</div> -->
				</div>
			</div>
		</div>
		

		<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/script.js"></script>
	</body>
</html>